.htaccess
wp-config.php
wp-config-sample.php
optimus_wordpress_db.sql
.idea/
wp-content/uploads

/shop.sql
shop.sql
/wp-content/themes/optimus-mini/woocommerce_.php
wp-content/themes/optimus-mini/scss/.DS_Store
/wp-content/themes/optimus-mini/js/new-plugins.js
/_udb_3608132183632301.sql
.DS_Store
_udb_3608132183632301.sql
wp-content/.DS_Store
wp-content/themes/.DS_Store
