.htaccess
wp-config.php
wp-config-sample.php
optimus_wordpress_db.sql
.idea/
wp-content/uploads

/shop.sql
shop.sql
/wp-content/themes/optimus-mini/woocommerce_.php
wp-content/themes/optimus-mini/scss/.DS_Store
