@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Roboto:300,400,500,700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wsca99');
  src:  url('fonts/icomoon.eot?wsca99#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?wsca99') format('truetype'),
  url('fonts/icomoon.woff?wsca99') format('woff'),
  url('fonts/icomoon.svg?wsca99#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-circle-outline:before {
  content: "\e91b";
}
.icon-arrow-back-outline:before {
  content: "\e917";
}
.icon-arrow-forward-outline:before {
  content: "\e918";
}
.icon-arrow-circle-left-outline:before {
  content: "\e919";
}
.icon-arrow-circle-right-outline:before {
  content: "\e91a";
}
.icon-close-outline:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e914";
}
.icon-shopping-bag-outline:before {
  content: "\e915";
}
.icon-email:before {
  content: "\e910";
}
.icon-link-2:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-collapse-outline:before {
  content: "\e90e";
}
.icon-expand-outline:before {
  content: "\e90f";
}
.icon-store:before {
  content: "\e908";
}
.icon-phone-outline:before {
  content: "\e909";
}
.icon-email-outline:before {
  content: "\e90a";
}
.icon-search-outline:before {
  content: "\e90b";
}
.icon-clock-outline:before {
  content: "\e90c";
}
.icon-paper-plane-outline:before {
  content: "\e90d";
}
.icon-chevron-up-outline:before {
  content: "\e916";
}
.icon-chevron-down-outline:before {
  content: "\e91c";
}
.icon-chevron-left-outline:before {
  content: "\e91d";
}
.icon-chevron-right-outline:before {
  content: "\e91e";
}
.icon-shopping-cart-outline:before {
  content: "\e91f";
}
.icon-menu-outline:before {
  content: "\e920";
}
.icon-star-outline:before {
  content: "\e921";
}
.icon-star:before {
  content: "\e922";
}



@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/raty.eot");
  src: url("./fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("./fonts/raty.svg#raty") format("svg");
  src: url("./fonts/raty.ttf") format("truetype");
  src: url("./fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 1em;
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
  color: #fec107;
}

.star-off-png:before {
  content: "\f005";
  color: #d5d5d5;
}

//.star-off-png:before {
//  content: "\f006";
//}

.star-half-png:before {
  content: "\f123";
  color: #fec107;
}
